*{font-family: Roboto, Arial, sans-serif;}
html, body {width:100%; padding:0; margin:0; }
header{
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 2000;
    background-color: black;
    overscroll-behavior: none;
}
#wrapper{
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding: 0 35px;
    position: relative;
}
nav #wrap-nav{
	position:absolute;
	top:25px;
	right:0px;
    padding: 0 70px;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu  ul li {
    position: relative;
	float: left;
	padding: 6px 5px 0px 5px;
}
#menu  ul li a {
    color:#b81939;
    font-size: 14px;
	line-height:14px;
	display: block;
	padding: 6px 10px;
	margin-bottom: 5px;
	z-index: 6;
    position: relative;
	text-transform:uppercase;
    text-decoration: none;
}
#menu  ul li:hover {
	background:#232021;
}
#menu  ul li:hover a {
	color:#ffffff;
}
#logo{
    padding: 13px;
}
#intro{
    margin-top: 171px;
}
section #videoo{
    margin-top: -90px;
    width: 100%;
    filter:blur(5px);
    object-fit:cover;
}
section #video-overlay{
    padding: 0 20px;
    width: 97%;
    position: absolute;
    top: 25%;
    text-align: center;
    color: white;
    font-size: 40px;
}
#about-us{
    padding: 110px 60px;
}
#div-about-us{
    text-align: center;
}
#div-about-us h1{
    font-size: 50px;
}
#div-about-us p{
    font-size: 25px;
    line-height: 50px;
}
#about-us-button{
    background-color: #b81939;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 20px;
    line-height: 35px;
}
.footer-basic {
    padding:40px 0;
    background-color:black;
    color:#b81939;
}  
.footer-basic ul {
    padding:0;
    list-style: none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    
}  
ul.list-inline li{
    display: inline;
    font-size: 20px;
}
.footer-basic li {
    padding:0 10px;
}
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
.footer-basic ul a:hover {
    opacity:1;
}
.footer-basic .social {
    text-align:center;
    padding-bottom:10px;
}
.footer-basic .social > a {
    font-size:25px;
    width:50px;
    height:50px;
    line-height:50px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
.footer-basic .social > a:hover {
    opacity:0.9;
}
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:15px;
    color:#aaa;
    margin-bottom:0;
}
.footer-basic img{
    width: 50px;
}
